<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>


		body{
    		margin: 0px;
    		height: 100vh;
    		width: 100vw;
    		background-color: #F2EBE3;
    		
    	}
    	
        #submit_button{
            width: 120px;
        }


		#bg-image{
		background-image: url("./images/img_color_bg.JPG");
		filter: blur(1px);
		  -webkit-filter: blur(1px);
		   background-position: center;
		  background-repeat: no-repeat;
		  background-size: cover;
		  height: 100vh; 
		  width: 100vw; 
		  position: fixed;
		  top: 0;
		  left: 0;
		}
	
	#content{
		 position: relative;
		 z-index: 2;
		 
	}

	#submit_button{
		
	}



    </style>
</head>
<body>

    <script
    src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js">
    </script>
    <script>
	/*<![CDATA[*/
    var app = angular.module('myApp', []);
	
    app.run(['$http', function($http) {
        // Read the CSRF token and header name from the meta tags
        var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        var csrfHeaderName = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        // Set the CSRF token as a default header for AJAX requests
        $http.defaults.headers.common[csrfHeaderName] = csrfToken;
    }]);
    
    app.controller('registerCtrl', [ '$scope', '$http', '$q', '$element', '$window', 
        function($scope, $http, $q, $element, $window) { 
        $scope.user = { username: '', password: '', password2: '', roles: '' };
        $scope.submitted = false; // This flag is used to control the display of error messages.
        $scope.isLoading = false; // Tracks the loading state
        $scope.message = '';
        $scope.password_error_message = ""
        $scope.role_error_message = ""
        
        var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        var csrfHeaderName = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');
        
        console.log(csrfToken, csrfHeaderName);

        // Function to call on submit button click
        $scope.submitForm = function() {
			
        	$scope.message = '';
            $scope.password_error_message = ""
            $scope.role_error_message = ""
        	
            $scope.submitted = true; // Indicate that a submit attempt has been made.

            
                   
            var passwordElement = angular.element(document.getElementById('password'))[0];

            var passwordElement2 = angular.element(document.getElementById('password2'))[0];
            
            console.log(passwordElement.value,passwordElement2.value);
            
            var isPasswordMatch = false;
            var RoleSelected = false;
            
            var optionRoleElement = angular.element(document.getElementById('selectRole'))[0];
            
            if(passwordElement.value === passwordElement2.value){

            	isPasswordMatch = true;
            }
            
            console.log('Role changed to: ' + $scope.user.roles);
            if($scope.user.roles === "ROLE_MANAGER" || $scope.user.roles === "ROLE_CUSTOMER" || $scope.user.roles === "ROLE_BARISTA"){
            	RoleSelected = true;
            }
            
            
            //form's inputs are valid 
            if ($scope.loginForm.$valid && isPasswordMatch && RoleSelected) {

            	var formElement = angular.element(document.getElementById('loginForm'))[0];
                formElement.classList.add("was-validated");
            	
                $scope.isLoading = true;
                console.log('Form is valid. Form data:', $scope.user);
                //call users API 
               
                //adjusting role's type to be an array 
                var adjustedUser = angular.copy($scope.user);
    			adjustedUser.roles = [$scope.user.roles];
    			
    			//let button to display an animation
    			$scope.isLoading = true;

                $http.post("/api/v1/users", adjustedUser).then(function(response) {
         			// Handle success
         			console.log(response.data);
         			
         			$scope.isLoading = false;
         			//$window.location.href = '/modal?username=' + encodeURIComponent($scope.user.username);
         			$window.location.href = '/login';
         		}, function(errResponse) {
         			// Handle error
         			console.error(errResponse.data);
         			$scope.message = errResponse.data.message;
         			$scope.isLoading = false;
         		}); 
                
            //form's inputs are invalid 
            } else {

                var userElement = angular.element(document.getElementById('username'))[0];
                userElement.classList.add("is-invalid");
                var passwordElement = angular.element(document.getElementById('password'))[0];
                passwordElement.classList.add("is-invalid");
                var passwordElement2 = angular.element(document.getElementById('password2'))[0];
                passwordElement2.classList.add("is-invalid");
                console.log('Form is not valid.');
                
                
                if(!isPasswordMatch) $scope.password_error_message = 'password mismatches';
                
                if(!RoleSelected) $scope.role_error_message = 'Role is not selected';
            }

            
          
        };
        
        $scope.redirect = function(routeName){

			$window.location.href = routeName;
		
		}
    }]);



    /*]]>*/
	</script>

<div ng-app="myApp" ng-controller="registerCtrl" class="d-flex justify-content-center">


    <div id="content" class="d-flex justify-content-center align-items-center" style="min-height: 600px; max-width: 600px;">
        <div class=" px-5 " style="background-color: #FFA43D;
		border:2px solid black;">
           
           <h2>Register</h2>
           
            <ng-form id="loginForm" name="loginForm" class="row needs-validation" novalidate>
                <label class="mb-3 fs-3" for="username">Username</label>
                <input class="mb-3 form-control" name="username" id="username" ng-model="user.username" required>
                <div class="invalid-feedback" ng-show="submitted && loginForm.username.$error.required">
                    <span>username is required.</span>
                </div>
                
                

                               
                <label class="mb-3 fs-3" for="password">Password</label>
                <input class="mb-3 form-control" name="password" id="password" ng-model="user.password" required>
                <div class="invalid-feedback" ng-show="submitted && loginForm.password.$error.required">
                    <span>password is required.</span>
                </div>
                 
                
                <label class="mb-3 fs-3" for="password2">re-enter Password</label>
                <input class="mb-3 form-control" name="password2" id="password2" ng-model="user.password2" required>
                <div class="invalid-feedback" ng-show="submitted && loginForm.password2.$error.required">
                    <span>password is required.</span>
                </div>
                <div id="password_error_message" class="text-danger"  ng-if="password_error_message">{{ password_error_message }}</div>
                
                
                <div class="fs-3">Select a Role</div>
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg"
                	ng-model="user.roles" id="selectRole"
                >
				  
				  <option value="ROLE_MANAGER">Manager</option>
				  <option value="ROLE_BARISTA">Barista</option>
				  <option value="ROLE_CUSTOMER">Customer</option>
				</select>
                <div id="role_error_message" class="text-danger"  ng-if="role_error_message">{{ role_error_message }}</div>
                

                <div class="d-flex mb-3 justify-content-evenly">
                    <!-- Using ng-click to trigger form submission logic -->
                    <button id="submit_button" class="btn btn-secondary" type="button" ng-click="submitForm()">
                        <span ng-if="!isLoading">Register</span>
                        <span ng-if="isLoading">
                            <i class="fa fa-circle-o-notch fa-spin"></i>Loading...
                        </span>
                    </button>

                    
                    <button id="submit_button" class="btn btn-dark" type="button" ng-click="redirect('/login')">
                       Signin
                    </button>
                    

                </div>
                <div id="page_error_message" class="text-danger"  ng-if="message">{{ message }}</div>
            </ng-form>
        </div>
    </div>
</div>



</body>